html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("pexels-photo-24342984.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the image to cover the entire container */
}

h1 {
    color: sienna;
}

p {
    color: sandybrown;
}